body{
  font-family: "Fira Sans Condensed", sans-serif;
  background-image:url("fundo.png");
   background-size:cover;
   background-position:center;
   background-attachment:fixed;
  color:white;
  font-weight:600;
  text-shadow:4px 4px 4px black;
  font-size:35px;
  text-align:center;
  display:flex;
  flex-direction:column;
}

img{
  max-width:90%;
}

footer{
   font-family: "Roboto Slab", serif;
  font-size:20px;
  font-weight:300;
  padding:10px;
  text-align:center;
}
.nomelink{
  text-decoration:none;
  color:white;
} 
.nomelink:hover{
  color:red;
  text-decoration:underline;
  font-weight:300;
  
}


button{
   font-family: "Edu AU VIC WA NT Pre", serif;
  font-size:25px;
  background-color:brown;
  border:1px solid brown;
  color: white;
  margin:20px;
  border-radius:200px;
  padding:15px;
  text-shadow:1px 2px 2px black;
}

button:hover{
   background-color:pink;
  borde:1px solid pink;
  font-weight:800;
  color: black;
}
main{
  max-width:90%;
  text-align:center;
  flex:1;
  padding:1em;
}
.passo{
  display:none;
}

.passo.ativo{
  display:block;
}